#Видаленя зібраних файлів проекта
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\Web\bin\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\Web\obj\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\TestProject\bin\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\TestProject\obj\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\SettingsSaver\bin\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\SettingsSaver\obj\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\Logic\bin\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\Logic\obj\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\Globals\bin\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\Globals\obj\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\Entitys\bin\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\Entitys\obj\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\DataStore\bin\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\DataStore\obj\*
C:\Users\Olexandr\source\repos\KOT98\Bookcase\Bookcase\Web\obj\*