@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section>
    <div class="justify-content-center row">
        <label class="col-sm-2" id="dataLabel">Кількість звернень до сторінки: </label>
        <button onclick="clearLocalStorage()">Clear</button>
    </div>
</section>
<script>

    function clearLocalStorage() {
        window.localStorage.clear();
        document.getElementById("dataLabel").innerText = "Кількість звернень до сторінки: 0";
    }
    LoadData();
    function LoadData() {
        let number = window.localStorage.getItem("startupNumber");

        if (number != null) {

            document.getElementById("dataLabel").innerText = "Кількість звернень до сторінки: " + number;
            number++;
            window.localStorage.setItem("startupNumber", number);
        } else {
            document.getElementById("dataLabel").innerText = "Кількість звернень до сторінки: 1";
            window.localStorage.setItem("startupNumber", 2);
        }
    }
</script>

