@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Вітаємо!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="col">
        <table>
            <tr>
                <td>
                    <label>Топ популярних книг :</label>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Null</td>
            </tr>
        </table>
    </div>
</div>
@{ 
    var s=
    if (true)
    {
        @("")
    }
}
<div class="col">
    <img src="#" alt="Ну шо уж, куда уж" />

</div>
<style type="text/css">
   #label{
       align-content:center;
   }
</style>
